{% extends 'index.html' %}


{% block content %}
    <h4>По запросу - {{ key_name }} найдены следующие товары:</h4>
    {% for product in products %}
        <div class="col-sm-3">
            {% if product.product_img %}
                <p><a href="/products/get/{{ product.id }}/"><img class="thumbnail" src="{{ MEDIA_URL }}{{ product.product_img.url }}" width="150" height="100"/></a></p>
            {% else %}
                <img class="thumbnail" src="https://placehold.it/150x100">
            {% endif %}
            <h4><a href="/products/get/{{ product.id }}/">{{ product.product_title }}</a></h4>
            <h5>{{ product.product_price }} гр.</h5>
            <p>{% autoescape off %}{{ product.product_text_min }}{% endautoescape off %}</p>
            <a class="btn btn-success" href="/products/get/{{ product.id }}/" role="button">Посмотреть товар >></a>
            <hr>
        </div>
    {% endfor %}
{% endblock %}

